body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.navbar {
    background-color: rgb(239, 238, 238);
    font-size: 16px;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    margin: 0 20px;
}

.navbar-nav .nav-link:hover {
    color: black;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    background-color: rgb(239, 238, 238);
    color: black;
}