body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

.navbar {  
    position: relative;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    margin: 0 35px;
}

.navbar-nav .nav-link:hover {
    color: black;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute; /* Posiciona el menú fuera del flujo normal */
    top: 100%; /* Coloca el menú justo debajo del contenedor padre */
    left: 0; /* Alinea el menú al borde izquierdo */
    width: 100%; /* Asegura que cubra toda la anchura */
    border: none; /* Elimina el borde si no es necesario */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    z-index: 1050;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    background-color: rgb(239, 238, 238);
    color: black;
}

#search{
    margin: 0 35px;
    margin-top: 10px;
}

#shopping{
    margin: 0 35px;
    margin-top: 10px;
}

.image-container {
    position: relative;
    width: 100%; /* Ajusta al tamaño de la imagen o el contenedor */
}

.image-container img {
    width: 100%; /* La imagen ocupa todo el contenedor */
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 50%; /* Centra el texto verticalmente */
    left: 50%; /* Centra el texto horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar el texto */
    color: rgb(168, 167, 167); /* Color del texto */
    font-size: 65px; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la visibilidad */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    white-space: nowrap;
}

.text-overlay span {
    font-weight: bold;
    background: linear-gradient(90deg, rgb(62, 118, 240), rgb(132, 95, 232),  rgb(215, 148, 224), rgb(233, 148, 173), rgb(254, 118, 140));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

/* Clase para el contenido principal */
.main-content {
    transition: filter 0.3s ease; /* Transición suave para el efecto de desenfoque */
}

/* Cuando el cursor está sobre el navbar, el contenido principal se desenfoca */
.navbar:hover ~ .main-content {
    filter: blur(5px); /* Ajusta la cantidad de desenfoque */
}

.dropdown-menu.full-width {
    position: relative;
    top: 100%;
    left: 0;
    width: 100vw; /* Extiende el menú a todo el ancho */
    background-color: white; /* Fondo blanco como en el ejemplo */
    border: none; /* Sin bordes */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
    z-index: 1050;
    padding: 10px 0; /* Espaciado interno */
}

/* Cambiar el estilo de las opciones del menú */
.dropdown-menu.full-width .dropdown-item {
    padding: 10px 20px; /* Ajusta el espaciado interno */
    font-size: 14px;
}

/* Mostrar el menú al pasar el mouse */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}