/*index css*/

.image-container {
    position: relative;
    width: 100%; /* Ajusta al tamaño de la imagen o el contenedor */
}

.image-container img {
    position: relative;
    width: 100%; /* Tamaño deseado de la imagen */
    left: 50%; /* Mueve la imagen al centro del contenedor */
    transform: translateX(-50%);
}

.image-container2 {
    position: relative;
    width: 100%; /* Ajusta al tamaño de la imagen o el contenedor */
    height: 75px;
    margin-bottom: 20px;
}

.image-container2 img {
    width: 100%; /* La imagen ocupa todo el contenedor */
    height: 50px;
}

.text-overlay {
    position: absolute;
    top: 20%; /* Centra el texto verticalmente */
    left: 50%; /* Centra el texto horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar el texto */
    color: rgb(168, 167, 167); /* Color del texto */
    font-size: 65px; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la visibilidad */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    white-space: nowrap;
}

.text-overlay span {
    font-weight: bold;
    background: linear-gradient(90deg, rgb(62, 118, 240), rgb(62, 118, 240), rgb(132, 95, 232),  rgb(215, 148, 224), rgb(233, 148, 173), rgb(254, 118, 140));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}

.subtitle {
    position: absolute;
    margin-left: 100px;
    color: rgb(168, 167, 167); /* Color del texto */
    font-size: 30px; /* Tamaño del texto *//* Sombra para mejorar la visibilidad */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    white-space: nowrap;
}

.subtitle span {
    font-weight: bold;
    background: linear-gradient(90deg, rgb(62, 118, 240),  rgb(62, 118, 240), rgb(132, 95, 232),  rgb(215, 148, 224), rgb(233, 148, 173), rgb(254, 118, 140));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
}
/*Primer slider*/
.card-title{
    text-decoration: none;
    font-size: 0.8rem;
    color: gray ;
    margin: 16px 0 18px;
    margin-left: 20px;
    margin-top:30px;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

/*Second slider*/
.card-item2 {
    position: relative;
    width: 350px; /* Ajusta al tamaño deseado */
    height: 450px; /* Ajusta al tamaño deseado */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.12);
}

.card-item2 .a-title{
    text-decoration: none;
    color: inherit;
    text-align: left;
    position: absolute; /* Permite posicionar el texto relativo a la tarjeta */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    margin: 0; /* Asegúrate de que no haya márgenes adicionales */
    margin-left: 25px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.card-item2 .a-subtitle{
    text-decoration: none;
    color: inherit;
    text-align: left;
    position: absolute; /* Permite posicionar el texto relativo a la tarjeta */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    margin-top: 30px; /* Asegúrate de que no haya márgenes adicionales */
    margin-left: 25px;
    font-size: 22px;
    color: black;
    font-weight: bold;
}

.card-item2.iphone {
    background-color: white;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}


.card-list2 .card-item2{
    list-style: none; 
}

.card-list2 .card-link2 .card-title2{
    font-weight: 650;
    font-size: 1.2rem;
    color: black;
    margin: 16px 0 18px;
}

.card-wrapper2{
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
    color: white; /* Color inicial de la flecha */
    font-size: 20px; /* Tamaño de la flecha */
    transition: color 0.3s; /* Animación suave al cambiar el color */
    font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: black; /* Cambia el color de la flecha al pasar el mouse */
}

/* Opcionalmente, personaliza el pseudo-elemento ::after */
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: inherit; /* Asegúrate de que use el tamaño definido en el contenedor */
}

.swiper-button-prev::before,
.swiper-button-next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 1;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.swiper-button-next:hover::before,
.swiper-button-prev:hover::before {
    width: 60px;
    height: 60px;
    opacity: 1;
}
.card-item2:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Sombra al pasar el mouse */
    transform: scale(1.02); /* (Opcional) Un ligero aumento de tamaño */
    transition: box-shadow 0.6s ease, transform 0.6s ease;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.card-btn {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 20px;
}

.card-btn:hover {
    background-color: #0056b3;
}

/*ventana emergente*/
.modal {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 250px;
}

.modal-content {
    border: none;
    width: 100%;
    max-width: 400px; /* Limitar el tamaño máximo interno */
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: gray;
}

.modal input {
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;
    width: 60%;
    font-size: 16px;
}

button#cancel-btn {
    background-color: #878b8f; /* Color gris para cancelar */
}

button#cancel-btn:hover {
    background-color: #5a6268; /* Color gris oscuro al pasar el cursor */
}

button#confirm-btn {
    background-color: #007bff; /* Color gris para cancelar */
}

button#confirm-btn:hover {
    background-color: #0056b3; /* Color gris oscuro al pasar el cursor */
}

.modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    color: white;
    transition: background-color 0.3s ease;
}

.close {
    position: absolute;
    top: -13px; /* Ajusta la posición vertical */
    right: 8px; /* Ajusta la posición horizontal */
    font-size: 30px; /* Tamaño de la "X" */
    color: #333; /* Color de la "X" */
    font-weight: bold; /* Negrita */
    cursor: pointer; /* Cambiar el cursor a mano */
    transition: color 0.3s ease, transform 0.2s ease; /* Animaciones suaves */
}

.no-scroll {
    position: fixed;
    overflow: hidden;
}

/* Cart Modal */
#cart-modal {
    position: fixed;
    top: 250px;
    left: 85%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 320px;
}

#cart-modal .modal-content {
    border: none;
    width: 100%;
    max-width: 400px;
    text-align: center;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 300px
}

#cart-modal h2 {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin: 0;
    padding: 10px 0; /* Optional: Add a border to separate header from content */
}

#cart-modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: gray;
}

#cart-modal .modal-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: white;/* Optional: Add a border to separate buttons from content */
    position: sticky;
    bottom: 0;
}

#cart-modal .modal-buttons button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    color: white;
    transition: background-color 0.3s ease;
    position: sticky;
}

#cart-modal #confirm-cart-btn {
    background-color: #007bff;
}

#cart-modal #confirm-cart-btn:hover {
    background-color: #0056b3;
}

#cart-modal #cancel-cart-btn {
    background-color: #878b8f;
}

#cart-modal #cancel-cart-btn:hover {
    background-color: #5a6268;
}